name: Java CY with Gradel

on:
  workflow_dispatch:
    inputs:
      environment:
        type: string
        required: true
      branch:
        type: string
        required: true
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'
      hash:
        description: 'hash value'
      repo_1:
        type: boolean
        default: false
        description: Use Repo 1?
      repo_2:
        type: boolean
        default: false
        description: Use Repo 2?

jobs:
  myJob:
    runs-on: ubuntu-latest
    steps:
      - name: Output Inputs
        run: echo "${{ toJSON(github.event.inputs) }}"

  repo-1-job:
    name: Repo 1 Job
    runs-on: ubuntu-latest
    if: github.event.inputs.repo_1 == 'true'
    steps:
      - run: echo "some repo 1 job"
  
  repo-2-job:
    name: Repo 2 Job
    runs-on: ubuntu-latest
    if: github.event.inputs.repo_2 == 'true'
    steps:
      - run: echo "some repo 2 job"

