name: Java CY with Gradel

on:
  workflow_dispatch:
    inputs:
      environment:
        type: string
        required: true
      branch:
        type: string
        required: true

jobs:
  myJob:
    runs-on: ubuntu-latest
    steps:
      - name: Output Inputs
        run: |
          echo "${{ toJSON(github.event.inputs) }}"
          echo "Branch: ${{ steps.vars.outputs.branch }}"
          echo "Sha: ${{ steps.vars.outputs.sha_short }}"

