name: Java CY with Gradel

on:
  workflow_dispatch:
    inputs:
      environment:
        type: string
        required: true
      branch:
        type: string
        required: true
          inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'

jobs:
  myJob:
    runs-on: ubuntu-latest
    steps:
      - name: Output Inputs
        run: echo "${{ toJSON(github.event.inputs) }}"

      - name: Check Branch
        run: echo "${{ env.branch }}"

      - name: Check Hash
        run: echo "${{ env.hash }}"

