name: CI 
on: push 
jobs:   
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Get Branch
      id: branch
      run: echo "git_branch=${GITHUB_REF#refs/heads/}"

    - name: Check Branch
      run: echo "${{ env.branch }}"

    - name: Get Hash
      id: hash
      run: echo "git_hash=$(git rev-parse --short "$GITHUB_SHA")"

    - name: Check Hash
      run: echo "${{ env.hash }}"
 
    - name: Trigger Release Template 
      run: |
        run_id=${{ github.run_id }}
        echo "::set-output name=run_id::$run_id"
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        echo ${{github.run_id}}
        echo $git_hash
        curl --request POST -u 'admin:admin' --header 'content-type: application/json' --url 'https://9f96-2600-1700-1850-ca20-80cf-32ea-3166-e7a7.ngrok-free.app/api/v1/templates/Applications/Folder94c2f7cfc5d44e13ae12295e39b23b43/Release0bda09f2c6e2469fbe1abd8cb0eed9c5/start' -d '{"releaseTitle":"Release-action-${{github.run_id}}", "releaseVariables": {"hash": "${{git_hash}}"}}'

